.background-grad {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  height: 100vh;
  width: 100%;
  /* background: linear-gradient(
    var(--grad-start),
    var(--grad-mid),
    var(--background)
  ); */
  background-image: url("../assets/KumoSkyL.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.dark .background-grad {
  background-image: url("../assets/KumoSkyD.jpg");
}

.background-grad::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  height: 100vh;
  width: 100%;
  background: linear-gradient(
    var(--grad-start) 60%,
    var(--grad-mid),
    var(--background)
  );
}

header {
  position: sticky;
  top: 0;
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}

.account-btn {
  border-radius: 12px;
}

.account-img {
  width: 32px;
  height: 32px;
  border-radius: 50px;
  filter: unset;
}

.gear-img {
  transition: all 0.2s;
}

.gear-btn:hover .gear-img {
  transform: rotate(-20deg);
}

.gear-btn:active .gear-img {
  transform: rotate(60deg);
}

.gear-img {
  width: 20px;
  height: 20px;
  filter: none;
}

.dark .gear-img {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(280deg) brightness(106%) contrast(105%);
}

.logo {
  width: 24px;
  height: 24px;
}

.dark .logo {
  filter: invert(100%) sepia(0%) saturate(7427%) hue-rotate(23deg)
    brightness(118%) contrast(118%);
}
